absl-py==0.11.0
altgraph==0.17
appdirs==1.4.4
astor==0.8.1
audioread==2.1.9
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==4.6.2
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
filelock==3.0.12
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.35.0
h5py==3.1.0
hydra-core==0.11.3
idna==2.10
importlib-metadata==3.4.0
joblib==1.0.0
jsonpatch==1.28
jsonpointer==2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
Markdown==3.3.3
matplotlib==3.3.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numba==0.52.0
numpy==1.19.3
olefile==0.46
omegaconf==1.4.1
opt-einsum==3.3.0
packaging==20.8
pefile==2019.4.18
Pillow @ file:///C:/ci/pillow_1609786872067/work
pooch==1.3.0
protobuf==3.14.0
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pynndescent==0.5.1
pyparsing==2.4.7
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
PyYAML==5.4
pyzmq==22.0.2
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
regex==2020.11.13
requests==2.25.1
resampy==0.2.2
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.0
six @ file:///C:/ci/six_1605205426665/work
SoundFile==0.10.3.post1
tensorboard==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.9.4
torch==1.7.1
torchaudio==0.7.2
torchfile==0.1.0
torchvision==0.8.2
tornado==6.1
tqdm==4.56.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
umap-learn==0.5.1
urllib3==1.26.2
webrtcvad-wheels==2.0.10.post2
websocket-client==0.57.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.0
